body
{
    background-image: url(../assets/img/consulting.jpg);
    margin: 0;
}
@media screen and (max-width: 1024px)
{
    body
    {
        background-color: rgba(207, 202, 178, 0.6);
        background-image: none;
    }
}


nav
{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-evenly;
}



img
{
    height: 15EM;
    border-radius: 10EM;
    margin-left: 5EM;
}
@media screen and (max-width: 1024px)
{
    img
    {
        width:15EM;
    }
}



div
{
    /* border: solid rgb(126, 8, 8); */
    border-radius: 3EM;
    display: flex;
    align-content: space-between;
    padding-left: 1EM;
    padding-right: 1EM;
}
@media screen and (max-width: 1024px)
{
    div
    {
        flex-direction: column;
    }
}
.div_column, .div_column_W50, .div_column_W30
{
    flex-direction: column;
}

.div_column_W50
{
    width: 50EM;
}
.div_column_W30
{
    width: 30EM;
}
@media screen and (max-width: 1024px)
{
    .div_column_W50, .div_column_W30
    {
        width: 90%;
    }
}
.div_column_W50:hover, .div_column_W30:hover
{
    background-color: rgba(207, 202, 178, 0.6);
    /* text-shadow: rgb(255, 255, 255) 1px 0 10px; */
}
@media screen and (max-width: 1024px)
{
    #contact, #blanck
    {
        display: none;
    }
}



.title
{
    font-size: 2EM;
    text-align: left;
    line-height: 0.5EM;
}

#ornement
{
    height: 2EM;
    width: 8EM;
    margin-top: 1%;
    margin-left: 46%;
    margin-bottom: 1%;
}

#contact
{
    margin-top: 15%;
    height: 8EM;
}
#contact:hover
{
    background-color: rgb(217, 255, 0);
}

footer
{
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 69, 69);
    height: auto;
    width: 100%;
}



h1, h2, h3, h4, p, li
{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
@media screen and (max-width: 1024px)
{
    h1, h2, h3, h4, p, li
    {
        font-size: 2EM;
    }
}
h1, h2, h3, h4
{
    text-align: center;
}

a,h4
{
    color: rgb(36, 36, 36);
    text-shadow: none;
    text-align: center;
}
a,h4:hover
{
    text-shadow: 0 0 0.15em white, 0 0 0.15em  white, 0 0 0.15em  white;
}