body
{
    background-image: url(consulting.jpg);
    margin: 0;
}

nav
{
    background-color: rgb(197, 206, 224);
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 1024px)
{
    nav
    {
        height: 6%;
    }
}

img
{
    height: 15EM;
    border-radius: 10EM;
    margin-left: 5EM;
}

div
{
    /* border: solid rgb(126, 8, 8); */
    border-radius: 2EM;
    display: flex;
    align-content: space-between;
    padding-left: 1EM;
    padding-right: 1EM;
}

#hover:hover
{
    background-color: rgba(207, 202, 178, 0.5);
    /* text-shadow: rgb(255, 255, 255) 1px 0 10px; */
}

#title
{
    font-size: 2EM;
}

.div_column
{
    flex-direction: column;
}

footer
{
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 69, 69);
    height: auto;
    width: 100%;
}

h1, h2, h3, h4, p, li
{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
h1, h2, h3, h4
{
    text-align: center;
}

a,h4
{
    text-decoration: underline;
    color: rgb(36, 36, 36);
    text-shadow: none;
    text-align: center;
}
a,h4:hover
{
    text-decoration: none;
    text-shadow: 0 0 0.15em white, 0 0 0.15em  white, 0 0 0.15em  white;
}